body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.bg-custom-green {
  background-color: #1ed760;
}

.logo {
  margin-left: 20px;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.border-black {
  border-color: #000000;
}

.rounded-full {
  border-radius: 9999px;
}

.search-bar {
  position: relative;
}

.search-input {
  padding-left: 1.8rem;
}

.background-container {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: center;
  width: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(80.1deg, #000000 20.67%, rgba(0, 0, 0, 0) 66.08%),
    url("/images/bagpacker-bg.png");
  opacity: 1;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.content {
  z-index: 1;
  padding: 20px;
}

.overlay-div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
}

.overlay-div h2 {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}

.call-email-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.email {
  margin-left: 80px;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info .icon {
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-right: 5px;
}

.contact-info h3 {
  margin: 0;
  font-size: 15px;
}

.contact-info-text {
  display: flex;
  flex-direction: column;
}

.contact-info-text p {
  margin: 0;
  margin-left: -22px;
  font-size: 17px;
}

.card-1 {
  background-image: url(/images/card-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.card-2 {
  background-image: url(/images/card-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.card-3 {
  background-image: url(/images/card-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.card-4 {
  background-image: url(/images/card-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.camplify-h3 {
  color: #1ed760;
}

@media screen and (max-width: 767px) {
  .overlay-div {
    padding: 15px;
  }

  .call-email-section {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
  .email {
    margin-left: 0;
  }

  .request-call-section textarea,
  .request-call-section select,
  .request-call-section button {
    width: 100%;
  }

  .request-call-section button {
    margin-top: 10px;
  }
}
